:root{
    --red: #ff2e63;
    --black: #252a34;
    --blue: #08d9d6;
    --white: #eaeaea;
    --green: #59BE67;
}

#canvas{
    border: 0.5rem groove var(--green);
    background: url(ImgPruebas/Fondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 17.5rem;
    min-height: 17.5rem; 
    width: 17.5rem;
    height: 17.5rem; 
}

.jugar{
    position: absolute;
    top: auto;
    left: auto;
    width: 10rem;
    height: 4.6875rem;
    border-radius: 1.875rem;
    outline: none;
    background: var(--green);
    font-size: 1.5rem;
    color: var(--white);
    display: grid;
    place-items: center;
    border: none;
    box-shadow: 0 0 1.25rem var(--green);
    transition: background-color .4s, box-shadow .4s;
}

.jugar:hover{
    cursor: pointer;
    background-color: var(--red);
    box-shadow: 0 0 1.25rem var(--red);
}

.cont {
    position: absolute;
    bottom: 4%;
    left: 0.625rem;
    width: 7.5rem;
    height: 7.5rem;
    display: grid;
    place-items: center;
    visibility: hidden;
}

#joystick {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    outline: none;
    border: 2px solid rgb(77, 76, 76);
    border-radius: 50%;
    display: grid;
    place-items: center;
    touch-action: none;
}

#joystick svg {
    position: absolute;
    width: 20px;
    height: 20px;
}

#joystick .up {top: 0.125rem;}
#joystick .right {right: 0.125rem; transform: rotate(90deg);}
#joystick .down {bottom: 0.125rem; transform: rotate(180deg);}
#joystick .left {left: 0.125rem; transform: rotate(-90deg);}

.joy {
    width: 3.75rem;
    height: 3.75rem;
    background: rgb(77, 76, 76);
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(77, 76, 76);
}

#fire {
    position: absolute;
    bottom: 4%;
    right: 0.625rem;
    width: 5.3125rem;
    height: 5.3125rem;
    outline: none;
    border: 2px solid rgb(77, 76, 76);
    border-radius: 50%;
    display: grid;
    place-items: center;
    touch-action: none;
    visibility: hidden;
}

#fire svg {
    width: 50px;
    height: 50px;
    transform: rotate(-40deg);
}

#media {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    border: 2px solid var(--green);
    border-radius: 0.625rem;
    background-color: transparent;
    color: var(--green);
    outline: none;
    touch-action: manipulation;
}

#media option {
    color: black;
}

@media (min-width: 320px) {
    #canvas {
        width: 20rem;
        height: 18.75rem;
    }
}

@media (min-width: 400px) {
    #canvas {
        width: 23.75rem;
        height: 21.25rem;
    }
}

@media (min-width: 500px) {
    #canvas {
        width: 28.75rem;
        height: 25rem;
    }
}

@media (min-width: 800px) {
    #canvas {
        width: 37.5rem;
        height: 33.75rem;
    }
}