:root{
    --red: #ff2e63;
    --black: #252a34;
    --blue: #08d9d6;
    --white: #eaeaea;
    --green: #59BE67;
}

#canvas{
    border: 0.5rem groove var(--green);
    background: url(ImgPruebas/Fondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jugar{
    position: absolute;
    top: auto;
    left: auto;
    width: 12.5rem;
    height: 6.25rem;
    border-radius: 1.875rem;
    outline: none;
    background: var(--green);
    font-size: 1.75rem;
    color: var(--white);
    display: grid;
    place-items: center;
    border: none;
    box-shadow: 0 0 1.25rem var(--green);
    transition: background-color .4s, box-shadow .4s;
}

.jugar:hover{
    cursor: pointer;
    background-color: var(--red);
    box-shadow: 0 0 1.25rem var(--red)
}
